/*************************************
             GLOBAL STYLES
***************************************/
html{box-sizing: border-box;}

*, *:before *:after{box-sizing: inherit;}

body {
    background-color:seashell;
    margin:0;
    padding:0;
    font-size:20px;
    line-height:1.5;
}

a {
    color:white;
    display:inline-block;
}

h1{
    font-family: 'Alike', serif;
    margin-right:0;
}

h2{
    margin:0;
    font-family: 'Alike', serif;
}

h3{
 margin-bottom:0;
 font-family: 'Alike', serif;
}

p{font-family: 'Open Sans', sans-serif;}

.item-details h3 + p{
    font-style: italic;
}  /*Adjacent selector for the first paragraphs under the h3 headlines*/

.item-details h3 ~ p{
    margin:0;
} /*removes padding from the paragraphs*/

.website-project img {width:400px;}

.content-wrapper{
    max-width: 800px;
    width:85%;
    margin: 0 auto;
    padding:60px 0;
}


/*****************************
         NAVIGATION
******************************/

header nav{
    margin-top:10px;
    cursor:pointer;
}

header li{
    display:inline;
    font-family: 'Open Sans', sans-serif;
    margin-right:20px;
    font-weight: bold;
}

li a{
    text-decoration:none;
}

/***************************
          PROFILE
****************************/
header{background-color:#2d2327; color:white;
        padding:20px;
}

header h1{
    font-size:60px;
    text-align: center;
}

header h2{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

/********************************
           PROJECTS
*********************************/
     /*PARENT CLASS*/

#projects{background-color: seashell;}

     

/********************
    BUTTON STYLES
********************/
#projects a{
    background-color:#2d2327;
    text-decoration:none;
    padding:20px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    float:right;
    margin-right:140px;
}

#projects h1{font-size:60px; text-align:center;}

#projects h3 {margin-bottom: 10px;}

        /*******************
           BORDER LINES
        ********************/
.divider > section{
    border-bottom:2px solid black;
    padding: 25px 0;
}

.divider > section:last-of-type{border-bottom:none;} 
/*removes the bottom border from the last part of each section*/

/***************************
         SKILLS
****************************/
#skills{
    background-color: #2d2327;
    color:white;
}

#skills h1{
    font-size:60px;
    text-align: center;
}

#skills h2{text-align:center;}

#skills li{
    display:inline;
    font-family: 'Open Sans', sans-serif;
    float:left;
    margin-left:110px;
    background-color:rosybrown;
    border-radius:10px;
    padding:5px;
}

#skills .content-wrapper{
    max-width: 1000px;
    width:100%;
    padding-top:10px;
}

/***************************
         ABOUT
****************************/
#about-victoria{
    background-color: seashell;
}

#about-victoria img {
        float:left;
        margin-right:50px;
        width:400px;
}

#about-victoria h1{
    text-align: center;
}

#about-victoria h2{
    text-align:left;
}

#about-victoria p{
    display:inline-block;
}

/*****************************
       CONTACT INFO
******************************/
footer{
    background-color:#2d2327;
    color:white;
}

#contact-list{
    list-style-type: none;
    padding:0;
}

#contact-list a{
     padding:5px;
     display:inline-block;   /*display links vertically and horizontally*/
     font-family:'Open Sans', sans-serif;
}

.fab{
    padding: 12px;
    font-size: 30px;
    width:30px;
    border-radius:60%;
    float:left;
}

.fas{
    padding: 12px;
    font-size: 30px;
    width:30px;
    border-radius:60%;
    float:left;
}

/***************************************************
         TABLET STYLES
/****************************************************
styles for screens up to 1280px
********************************************************/

@media screen  and (min-width:768px){

    #skills{       
        padding-bottom:100px;
    }

    #skills ul li {
        margin:20px;
        margin-left:120px;
    }

    footer h1, h3, p{
        display:flex;
        justify-content: center;
    }
    
}
/***************************************************
         TABLET STYLES
/****************************************************
styles for screens 750px or greater
********************************************************/
@media screen and (min-width:750px){
    /*GLOBAL STYLES*/
    header footer{text-align:center;}
     

     /*************
        PROJECT
    ****************/
    .website-project{overflow:hidden;}

    #projects .content-wrapper{
        width: 2500px;
        
    }
    
    /*images will float left and two columns will be formed when screen is 750px or greater*/
    .website-project img {
        float:left;
        margin-right:10px;
        }
    #projects p{
        
        }

      /***********************
              CONTACT
      ************************/
/*list items will stack on top of each other when the screen is smaller than 750px
  but displays at the center of the site on screens 750px or larger*/
    #contact-list{
        display:flex;
        justify-content: center;
    } 
    
}


/*******************************************************
                  MOBILE STYLES
********************************************************
styles for screens with a maximum of 768px or lesser
********************************************************/

@media screen and (max-width:760px){

    .content-wrapper{width:300px;  padding: 0 0 0 0px;}

    /*HEADER*/
    header{width:600px; height:400px; padding-bottom:20px;}

      
    header li{
        font-size:15px;
        margin-right:500px;
    }

    header h2{
        font-size:15px;
        margin-right: 100px;
    }

    header h1 {
        font-size:35px;               
        
    }
    
    /*PROJECT*/

   #projects .content-wrapper{
       margin-left:25px;
       margin-top: 40px;
       margin-right: 20px;
   }  

   #projects a{
    padding:10px;
   }

   .divider > section{
       padding-bottom: 60px;

   }

   #projects h1{
       font-size:40px;
   }

   .website-project img{
    width:300px;
   }

   /*SKILLS*/
   #skills h1{
       font-size:40px;
   }
   
   /*background*/ 
   #skills{
       width:670px;
       height:500px;
       
   }

   /*skill section content layout*/
   #skills .content-wrapper{
       width:400px;
       display:flex;
       flex-direction: column;
       margin-right: 0px;
       margin-left:0px;
       padding-right:10px;
   }
   #skills ul{
       width:200px;
   }
   #skills h2 li{
       margin-right:500px;
   }

   #skills li{
       margin-bottom:10px;
   }

   /*ABOUT*/

   #about-victoria .content-wrapper{
    width:300px;
    margin-left:30px;
    margin-right:400px;
    display:flex;
    flex-direction: column;
   }

   #about-victoria img{
       padding-top: 20px;
       margin-left:100px;
       margin-bottom: 20px;
       width:100px;
   }

   #about-victoria h1{
       font-size:25px;
   }
   #about-victoria h2{
    font-size:20px;
}
   #about-victoria p {
    font-size:15px;
   }

   /*CONTACT*/
   footer {
    width:670px;
   }

   footer .content-wrapper{
    display:flex;
    flex-direction:column;
    width:275px;
    margin-left:60px;
   }

   footer li{
    display:flex;
    flex-direction: row;
    justify-content: center;
   }

   footer h1{
    font-size: 25px;
    text-align: center;
   }

   footer h3{
    text-align:center;
   }

   footer a{
       font-size: 16px;
   }

   footer p{
       text-align:center;
   }
}