/*************************************
             GLOBAL STYLES
***************************************/
html{box-sizing: border-box;}

*, *:before *:after{box-sizing: inherit;}

body {
    background-color:seashell;
    margin:0;
    padding:0;
    font-size:20px;
    line-height:1.5;
}

a {
    color:white;
    display:inline-block;
}

h1{
    font-family: 'Alike', serif;
    margin:0;
}

h2{
    margin:0;
    font-family: 'Alike', serif;
}

h3{
 margin-bottom:0;
 font-family: 'Alike', serif;
}

p{font-family: 'Open Sans', sans-serif;}

.item-details h3 + p{
    font-style: italic;
}  /*Adjacent selector for the first paragraphs under the h3 headlines*/

.item-details h3 ~ p{
    margin:0;
} /*removes padding from the paragraphs*/

.website-project img {width:400px;}

.content-wrapper{
    max-width: 800px;
    width:85%;
    margin: 0 auto;
    padding:60px 0;
}


/*****************************
         NAVIGATION
******************************/

header nav{
    float:right;
    margin-top:10px;
}

header li{
    display:inline;
    font-family: 'Open Sans', sans-serif;
    margin-right:20px;
}

/***************************
          PROFILE
****************************/
header{background-color:#2d2327; color:white;
        padding:20px;

}


/********************************
           PROJECTS
*********************************/
.projects{background-color: seashell;}

.projects a{
    background-color:#2d2327;
    text-decoration:none;
    padding:13px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    float:right;
}

.projects h2{text-align:center;}

        /*BORDER LINES*/
.divider > section{
    border-bottom:2px solid black;
    padding: 25px 0;
}

.divider > section:last-of-type{border-bottom:none;} 
/*removes the bottom border from the last part of each section*/


/**********************
    WORK EXPERIENCE
*********************
.work-experience{
    background-color: #2d2327;
    color:white;
}*/

/***************************
         SKILLS
****************************/
.skills{
    background-color: #2d2327;
    color:white;
    padding-bottom:50px;
}

.skills h2{text-align:center;}

.skills h3{text-align:center;}

.skills li{
    display:inline;
    font-family: 'Open Sans', sans-serif;
    float:left;
    margin-left:80px;
}


/***************************
         ABOUT
****************************/
.about-victoria{
    background-color: seashell;
}

.about-victoria img {
        float:left;
        margin-right:50px;
        width:400px;
}

/*****************************
       CONTACT INFO
******************************/
footer{
    background-color:#2d2327;
    color:white;
    
}

.contact-list{
    list-style-type: none;
    padding:0;
    
}

.contact-list a{
     padding:15px;
     display: inline-block; 
    /*display links vertically and horizontally*/
}


/*****************************
       RESPONSIVE STYLES
******************************/
@media screen and (min-width:750px){
    header, footer{text-align:center;}

    .website-project{overflow:hidden;}
    
    /*images will float left and two columns will be formed when screen is 750px or greater*/
    .website-project img {
        float:left;
        margin-right:40px;
        }

/*list items will stack on top of each other when the screen is smaller than 750px
  but displays at the center of the site on screens 750px or larger*/
    .contact-list{
        display:flex;
        justify-content: center;
    } 
    
}

/* styles for screens with max width 749px*/

@media screen and (max-width:749px){
    h1 {
        font-size:50px;
    }
}